<div class="work-page">
  <ul class="auto-grid">
    <!-- <li *ngFor="let work of works">
      <img [src]="work.image" alt="" class="img-fluid" />
      <a [href]="work.url" target="_blank">
        <span><i data-feather="link"></i></span>
      </a>
    </li> -->
    <li>
      <img src="assets/images/logo/hanbiro.png" alt="" class="img-fluid" />
      <a href="http://hanbiro.com" target="_blank">
        <span><i data-feather="link"></i></span>
      </a>
    </li>
    <li>
      <img src="assets/images/logo/opla.png" alt="" class="img-fluid" />
      <a href="https://www.opla.app" target="_blank">
        <span><i data-feather="link"></i></span>
      </a>
    </li>
    <li>
      <img src="assets/images/logo/gamifly.png" alt="" class="img-fluid" />
      <a href="https://gamifly.gg" target="_blank">
        <span><i data-feather="link"></i></span>
      </a>
    </li>
  </ul>
</div>
