<div
  id="navbar"
  class="navbar navbar-expand d-flex flex-column justify-content-between"
>
  <div class="logo text-center">
    <h1 data-text="H" class="m-0">H</h1>
  </div>
  <nav class="nav flex-column">
    <a class="nav-link" href="#home" data-hover="Home" data-active="Home"
      ><span class=""><i data-feather="home"></i></span>
    </a>
    <a class="nav-link" href="#about" data-hover="About" data-active="About"
      ><span class=""><i data-feather="user"></i></span>
    </a>
    <a class="nav-link" href="#skills" data-hover="Skills" data-active="Skills"
      ><span class=""><i data-feather="code"></i></span>
    </a>
    <a class="nav-link" href="#works" data-hover="Works" data-active="Works"
      ><span class=""><i data-feather="briefcase"></i></span>
    </a>
    <a
      class="nav-link"
      href="#contact"
      data-hover="Contact"
      data-active="Contact"
      ><span class=""><i data-feather="mail"></i></span>
    </a>
  </nav>
  <div class="sns d-flex flex-column">
    <a
      href="https://www.facebook.com/hoa.duongia/"
      class=""
      target="_blank"
      title="Facebook"
      ><span data-feather="facebook"></span
    ></a>
    <a
      href="https://www.linkedin.com/in/hoa-duong-gia/"
      class=""
      target="_blank"
      title="Linked In"
      ><span data-feather="linkedin"></span
    ></a>
    <a
      href="https://drive.google.com/file/d/1QgupeH4c4iI2WByp6IOJgwksc3UyGMys/view?usp=sharing"
      class=""
      target="_blank"
      title="CV"
      ><span data-feather="file-text"></span
    ></a>
  </div>
</div>
