<app-container class="skill-page">
  <div class="left">
    <div class="text-zone">
      <h2 aria-label="Skills &  Experience" class="blast-root">
        Skills & <br />
        Experience
      </h2>
    </div>
  </div>
  <div class="right">
    <div id="myCanvasContainer">
      <canvas width="500" height="500" id="myCanvas">
        <p>
          Anything in here will be replaced on browsers that support the canvas
          element
        </p>
      </canvas>
    </div>
    <div id="tags">
      <a href="#">Angular 2+</a>
      <a href="#">AngularJS</a>
      <a href="#">ReactJS</a>
      <a href="#">TypeScript</a>
      <a href="#">Javascript</a>
      <a href="#">jQuery</a>
      <a href="#">HTML 5</a>
      <a href="#">CSS 3</a>
      <a href="#">SQL</a>
      <a href="#">SASS</a>
      <a href="#">RESTful API</a>
    </div>
  </div>
</app-container>
