<app-container class="about-page">
  <div class="left">
    <div class="text-zone">
      <h2 aria-label=" Hi, I’m Hoa, web developer." class="blast-root">
        Me, Myself & I
      </h2>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique
        massa id fringilla placerat. Nullam et enim commodo, efficitur arcu
        sodales, lacinia arcu. Nullam pulvinar pretium quam, id tincidunt dolor
        malesuada non. Aliquam faucibus, lacus lobortis interdum mollis, nunc
        nibh tincidunt magna, vitae consequat diam elit vel velit. Nam non
        mattis mauris. Etiam porta eleifend commodo. Nulla ornare vel sem nec
        mattis. Morbi fringilla lacus vel orci laoreet, nec blandit ligula
        fermentum. Phasellus non enim vitae felis pharetra imperdiet sed sed
        erat. Maecenas id sem magna. Nunc vitae consectetur turpis, scelerisque
        sollicitudin nibh. Curabitur eget justo ultricies, fermentum sem a.
      </p>
    </div>
  </div>
  <div class="right"></div>
</app-container>
