@import "../../../scss/main.scss";

:host {
  .about-page {
    .text-zone {
      position: absolute;
      left: 3.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      max-height: 90%;
      & img {
        width: 25px;
      }
      & a {
        font-weight: 300;
      }

      h2 {
        color: $primary;
        font-size: 53px;
        line-height: 48px;
        margin: 0;
        font-family: $exo;
        font-weight: bold;
        &::before {
          content: "<h2>";
          font-family: $belle;
          color: $primary-dark;
          font-size: 18px;
          position: absolute;
          margin-top: -35px;
        }
        &::after {
          content: "<h2/>";
          font-family: $belle;
          color: $primary-dark;
          font-size: 18px;
          position: absolute;
          margin-top: 18px;
          margin-left: 20px;
          animation: myanim2 1s 3s backwards;
        }
        ::ng-deep {
          .blast {
            opacity: 0;
            display: inline-block !important;
            transition: all 0.3s ease-out;
            &:hover {
              color: $primary;
            }
          }
        }
      }

      .description {
        color: $text-white;
      }
    }

    .timeline ul {
      // background: #456990;
      // padding: 50px 0;
    }

    .timeline ul li {
      list-style-type: none;
      position: relative;
      width: 2px;
      margin: 0 auto;
      padding-top: 50px;
      background: $primary-dark;
      color: $text-white;
    }

    .timeline ul li::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: inherit;
    }

    .timeline ul li div {
      position: relative;
      bottom: 0;
      width: 200px;
      padding: 15px;
      background: $primary-dark;
    }

    .timeline ul li div::before {
      content: "";
      position: absolute;
      bottom: 7px;
      width: 0;
      height: 0;
      border-style: solid;
    }

    .timeline ul li:nth-child(odd) div {
      left: 45px;
    }

    .timeline ul li:nth-child(odd) div::before {
      bottom: 0;
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent $primary-dark transparent transparent;
    }

    .timeline ul li:nth-child(even) div {
      left: -15rem;
    }

    .timeline ul li:nth-child(even) div::before {
      bottom: 0;
      right: -15px;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent $primary-dark;
    }

    time {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 8px;
    }

    /* EFFECTS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

    // .timeline ul li::after {
    //   transition: background .5s ease-in-out;
    // }

    // .timeline ul li.in-view::after {
    //   background: #F45B69;
    // }

    // .timeline ul li div {
    //   visibility: hidden;
    //   opacity: 0;
    //   transition: all .5s ease-in-out;
    // }

    // .timeline ul li:nth-child(odd) div {
    //   transform: translate3d(200px, 0, 0);
    // }

    // .timeline ul li:nth-child(even) div {
    //   transform: translate3d(-200px, 0, 0);
    // }

    // .timeline ul li.in-view div {
    //   transform: none;
    //   visibility: visible;
    //   opacity: 1;
    // }

    /* GENERAL MEDIA QUERIES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

    @media screen and (max-width: 900px) {
      .timeline ul li div {
        width: 250px;
      }
      .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
      }
    }

    @media screen and (max-width: 600px) {
      .timeline ul li {
        margin-left: 20px;
      }
      .timeline ul li div {
        width: calc(100vw - 91px);
      }
      .timeline ul li:nth-child(even) div {
        left: 45px;
      }
      .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #f45b69 transparent transparent;
      }
    }
  }
}
