<app-container class="about-page">
  <div class="left">
    <div class="text-zone">
      <h2 aria-label=" Hi, I’m Hoa, web developer." class="blast-root">
        Me, Myself & I
      </h2>
      <!-- <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique
        massa id fringilla placerat. Nullam et enim commodo, efficitur arcu
        sodales, lacinia arcu. Nullam pulvinar pretium quam, id tincidunt dolor
        malesuada non. Aliquam faucibus, lacus lobortis interdum mollis, nunc
        nibh tincidunt magna, vitae consequat diam elit vel velit.
      </p> -->
    </div>
  </div>
  <div class="right">

    <section class="timeline">
      <ul>
        <li>
          <div>
            <time>2020 - Present</time> Officience Vietnam
          </div>
        </li>
        <li>
          <div>
            <time>2019 - 2020</time> Hanbiro Vietnam
          </div>
        </li>
        <li>
          <div>
            <time>2019</time> Graduate FPT University.
          </div>
        </li>

      </ul>
    </section>
  </div>
</app-container>
