<app-container class="home-page">
  <div class="left">
    <span class="tags top-tags">
      &lt;html&gt;<br />
      &nbsp;&nbsp;&lt;body&gt;
    </span>
    <div class="text-zone">
      <h1 aria-label=" Hi, I’m Hoa, web developer." class="blast-root">
        Hi, <br />
        I'm Hoa,
        <br />
        web developer.
      </h1>
      <h2>Front End Developer</h2>
      <!-- <a rel="contact" href="#contact" class="flat-button" style="opacity: 1">
        CONTACT ME
      </a> -->
    </div>
  </div>
  <div class="right">
    <canvas style="position: absolute;/* left:0; */z-index: -1;" id="canvas" width="100%" height="100%"></canvas>
    <!-- <app-tetris></app-tetris> -->
  </div>
</app-container>
