@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600");
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore");
@import url("https://fonts.googleapis.com/css?family=Exo:700,800");
@import url("https://fonts.googleapis.com/css?family=Bad+Script|Gruppo|Kumar+One+Outline|League+Script|Londrina+Outline|Monoton|Sriracha|Yellowtail&amp;text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789?+");

//font stack(s)
$cabin: "Titillium Web", sans-serif;
$belle: "La Belle Aurore", cursive;
$exo: "Exo", sans-serif;


$primary: #007bff;
$primary-light: #69a9ff;
$primary-dark: #0050cb;

$text-white: #fff;

$tetromino-cube: #ffff00;
$tetromino-line: #00ffff;
$tetromino-dot: #ffffff;
$tetromino-l: #ffaa00;
$tetromino-j: #0000ff;
$tetromino-t: #aa00ff;
$tetromino-z: #ff0000;
$tetromino-s: #00ff00;

